
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  text-transform: uppercase;
  background: transparent;
  color: black;
  padding: 0.375rem 0.75rem;
  letter-spacing:0.25rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.btn:hover {
  color: white;
  background: black;
}
.hero {
  min-height: 100vh;
  background: url("./hero.jpeg") center/cover no-repeat;
  display: grid;
  place-items: center;
}
.banner {
  background:white;
  padding: 4rem 0;
  border-radius: 0.5rem;
  box-shadow:0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90vw;
  max-width: 620px;
}
.modal-btn {
  margin-top: 2rem;
  background:  #49a6e9;
  border-color:  #49a6e9;
  color: white;
}
.modal-btn:hover {
  background: transparent;
  color:  #49a6e9;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 166, 233, 0.5);
  display: grid;
  place-items: center;
  transition:all 0.3s linear;
  visibility: hidden;
  z-index: -10;
}
.open-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: white;
  border-radius: 0.5rem;
  width: 90vw;
  height: 30vh;
  max-width: 620px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(360, 67%, 44%);
  cursor: pointer;
  transition: all 0.3s linear;
}
.close-btn:hover {
  color:hsl(360, 71%, 66%);
  transform: scale(1.3);
}
